{{ define "index.html" }}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Knowme</title>
  <link rel="icon" href="/static/favicon.ico">
</head>
<body>
  <div id="app"></div>
  <script>
    var script = document.createElement('script');
    script.setAttribute('src', '/static/js/app.js?v={{ .revision }}');
    document.head.appendChild(script);
  </script>
</body>
</html>
{{ end }}
